<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark ">

  <span class="navbar-brand mb-0 h1">Auto Planner</span>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"
      *ngIf="!isLoggedIn">

    <li class="nav-item">
      <a [routerLink]="['login']"
         class="btn btn-sm btn-outline-secondary mr-3"
         role="button">Sign In</a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['register']"
         class="btn btn-sm btn-primary"
         role="button">Sign Up</a>
    </li>

  </ul>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"
      *ngIf="isLoggedIn">

    <li class="nav-item">
      <a [routerLink]="['']"
         class="btn btn-sm btn-outline-secondary"
         (click)="logout()">Sign Out</a>
    </li>

  </ul>
</nav>
